/* Header.module.scss */
.header {
  display: flex;
  justify-content: center;
  background-color: #30107d;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding-top: 4rem;
  padding-bottom: 6rem;
  flex-wrap: wrap;
}

.open-modal {
  color: white;
  background-color: #401a9b;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-content {
    width: 92%;
  }
}

@media (max-width: 400px) {
  .header-content {
    justify-content: center;
    gap: 30px;
  }
}
